# BigCommerce API
BC_STORE_HASH=
BC_CLIENT_ID= #from Bigcommerce dev portal
BC_CLIENT_SECRET= #from Bigcommerce dev portal
BC_ACCESS_TOKEN=

# Database
DB_HOST=localhost
DB_NAME=
DB_USER=
DB_PASS=

# App Settings
APP_URL=http://localhost
ADMIN_USERNAME=  #for super admin login
ADMIN_PASSWORD=   #for super admin login (password hashed with password_hash())
SECRET_CRON_KEY= #random secret

# Custom Field
CUSTOM_FIELD_NAME= #custom field name to store promotion

# Session
SESSION_LIFETIME=3600

#OMNIBUS_TEST_REMOTE_SYNC=1